*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
       
}

.cabecera {
background: #F72585;   
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
justify-items: center;
width: 100%;
height: auto;
overflow: hidden;
position: fixed;
z-index: 1020;
text-align: center;

}

.cabecera img{
    width: 70%;
    align-items: center;
    justify-items: center;
}
.opcionesHeader {
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-items: center;
    box-sizing: border-box;
    }
 .cabecera .busqueda{
    display: flex; 
    width: 100%;
    height: 30px;
    border-radius: 6px;
    border-color: gray;
    background: whitesmoke;
    align-content: stretch;
    align-items: center;
    justify-content: center;
     box-shadow: 0px 4px 4px rgba(61, 60, 60, 0.733);
             
 }
 .cabecera .busqueda:hover, .busqueda:active{
     background-color: rgb(116, 189, 221);
     color: #f72585;
 }
#Lupa{
    color: #F72585;
    display: flex;
}
 .cabecera div button {        
        height: 30px;
        width: 25px;
        margin-left: 0%;
        border-color: none;
        border: none;
        color: #F72585;
        background-color: transparent;
        outline-style: none;
      }

.cabecera div button:hover {           
        height: 30px;
        width: 25px;
        border-color: none;
        border: none;
        color: #F72585;
        outline-style: none;
        transform: scale(2);              
      }      

.cabecera div button a::after {      
    height: 30px;
    width: 25px;
    margin-left: -30px;
    border: none;
    background-color: transparent;
    border-color: transparent;
    outline-style: none;    
    }
   
.Header ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
.Header ul li {
    margin: 20px;
    list-style: none;
    float: left;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.Header ul li:hover{
    color: gold;
}
 .Header a {
     text-decoration: none;
     color: white;
     display: block;
     
   }
 .Header ul li a:hover{
    color: gold;
 }
/*============
    MENU
 ==========*/


.MenuHorizontal{
       background: #B5179E;   
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       justify-content: space-around;
    
}
 
 .MenuHorizontal a{
    list-style: none;
    float: left;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
     
 }
 .MenuHorizontal a:hover{
    background-color: #F72585;
    transform: scale(1.1);
}

 

/*=========
CONTENEDOR
========*/

.contenedorconsola{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 0%;
    padding-bottom: 1%;
    
       
}


/*============
FAMILIAS
============*/


div.consolita {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 60px;  
}
div.Busquedas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;  
}
div.form-consola{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: auto;
    padding-bottom: 10px;
    padding-bottom: 10px;
    width: 50%;
    border: 3px solid #F72585;
    padding: 10px;
    background-color:#F72585;
    
}
div.form-consola2{
    background-color:#e625f7;;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: auto;
    width: 50%;
    border: 3px solid #e625f7;
    padding: 10px;
}
div.familiasconsola .secciones{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    
    }
div.familiasconsola .secciones a{
    color: white;
    text-decoration: none;
    margin: auto;
    justify-content: space-between;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.2rem;
    font-weight: 400;
    text-shadow: 4px 4px 2px #1b1919

}

div.familiasconsola .secciones .cargaProducto{
    background-color:  #B5179E;
    background-size: 100% 100%;
    background-position: center;
    width: 500px;
    height: 20vh;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    border: gray 2px;
    box-shadow:4px 4px 2px gray;
}
div.familiasconsola .secciones .Dashboard{
    background-color: rgba(192, 71, 145, 0.822) ;
    background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center;
    width: 500px;
    height: 20vh;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    border: gray 2px;
    box-shadow:4px 4px 2px gray;
}
div.familiasconsola .secciones .DashboardPagos{
    background-color: rgba(102, 63, 207, 0.822) ;
    background-size: 100% 100%;
    background-position: center;
    width: 500px;
    height: 20vh;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    border: gray 2px;
    box-shadow:4px 4px 2px gray;
}

.secciones a:hover{
    transform: scale(1.1);
          
}
.secciones {
    padding: 0px;
}

/*=========
FOOTER
=========*/
footer{
   
    left: 0;
    bottom: 0;
    width: 100%;    
    color: white;
    text-align: center;
}
footer.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #292525;
    width: 100%;
    justify-content: space-around;
    align-items: center;      
    left: 0;
    bottom: 0;  
    text-align: center;
   }
footer.credenciales{
    display: flex;
    flex-wrap: wrap;
    color: #F72585;
    width: 350px;    
   }
footer ul li {
    color: #F72585;
    list-style-type: none;
    margin-top: 10%;
    font-size: 14px;
    font-weight: normal;
    
   
}
footer a{
    text-decoration: none;
    color: #F72585;
    width: 350px;
}

footer ul li:hover{
    transform: scale(1.1);
}

footer.logo-footer img{
    color: #F72585;
    width: 70%;

    
}
footer.redesSociales{
    color: #F72585;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
footer.redesSociales a{
   
    font-size: 40px;
}

 .fa-youtube, .fa-instagram-square{
    font-size: 40px;
    margin-right: 40px;
}
.fa-facebook-square {
    font-size: 40px;
}
@media (max-width: 426px){
    
   
   
    footer ul li {
        color: #F72585;
        list-style-type: none;
        margin-top: 10%;
        font-size: 10px;
        font-weight: normal;
             
    }
    .logo-footer{
        width: 33%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
       
    }
    .logo-footer img{
        color: #F72585;
        width: 50%;
       
    }
    .redesSociales{
        color: #F72585;
        display: inline-block;
        flex-wrap: wrap;
        width: 33%;
    }
    .fa-youtube, .fa-instagram-square{
        font-size: 20px;
        margin-right: 20px;
    }
    .fa-facebook-square {
        font-size: 20px;
    }
}
@media (max-width: 375px){

.consolaAdministrador{
    width:375px;
    height:1000px;
}

/*============
FAMILIAS
============*/


div.consolita {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 60px;  
}
div.Busquedas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 100px;  
}
div.form-consola{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;  
    padding-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    border: 3px solid #F72585;
    padding: 10px;
    background-color:#F72585;
    width: 100%;
    margin-top: 10%;   
}
label {
    margin-bottom:4%;
}
div.form-consola2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;  
    padding-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    border: 3px solid  #e625f7;
    padding: 10px;
    background-color:  #e625f7;
    width: 100%;
    margin-top: 10%;
}
div.familiasconsola .secciones{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    
    }
div.familiasconsola .secciones a{
    color: white;
    text-decoration: none;
    margin: auto;
    justify-content: space-between;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.2rem;
    font-weight: 400;
    text-shadow: 4px 4px 2px #1b1919

}

div.familiasconsola .secciones .cargaProducto{
    background-color:  #B5179E;
    background-size: 100% 100%;
    background-position: center;
    width: 320px;
    height: 15vh;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    border: gray 2px;
    box-shadow:4px 4px 2px gray;
}
div.familiasconsola .secciones .Dashboard{
    background-color: rgba(192, 71, 145, 0.822) ;
    background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center;
    width: 320px;
    height: 15vh;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    border: gray 2px;
    box-shadow:4px 4px 2px gray;
}
div.familiasconsola .secciones .DashboardPagos{
    background-color: rgba(102, 63, 207, 0.822) ;
    background-size: 100% 100%;
    background-position: center;
    width: 320px;
    height: 15vh;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    border: gray 2px;
    box-shadow:4px 4px 2px gray;
}

.secciones a:hover{
    transform: scale(1.1);
          
}
.secciones {
    padding: 0px;
}
}