*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
       
}

.cabecera {
background: #F72585;   
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
justify-items: center;
width: 100%;
height: auto;
overflow: hidden;
position: fixed;
z-index: 1020;
text-align: center;


}

.cabecera img{
    width: 70%;
    align-items: center;
    justify-items: center;
}
.opcionesHeader {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-items: center;
    box-sizing: border-box;
    }
 .cabecera .busqueda{
    display: flex; 
    width: 100%;
    height: 30px;
    border-radius: 6px;
    border-color: gray;
    background: whitesmoke;
    align-content: stretch;
    align-items: center;
    justify-content: center;
     box-shadow: 0px 4px 4px rgba(61, 60, 60, 0.733);
             
 }
 .cabecera .busqueda:hover, .busqueda:active{
     background-color: rgb(116, 189, 221);
     color: #f72585;
 }
#Lupa{
    color: #F72585;
    display: flex;
}
 .cabecera div button {        
        height: 30px;
        width: 25px;
        margin-left: -10%;
        border-color: none;
        border: none;
        color: #F72585;
        background-color: transparent;
        outline-style: none;
      }

.cabecera div button:hover {           
        height: 30px;
        width: 25px;
        border-color: none;
        border: none;
        color: #F72585;
        outline-style: none;
        transform: scale(2);              
      }      

.cabecera div button a::after {      
    height: 30px;
    width: 25px;
    margin-left: -30px;
    border: none;
    background-color: transparent;
    border-color: transparent;
    outline-style: none;    
    }
   
.Header ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   

  }
.Header ul li {
    margin: 20px;
    list-style: none;
    float: left;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    
}

.Header ul li:hover{
    color: gold;
}
 .Header a {
     text-decoration: none;
     color: white;
     display: block;
     
   }
 .Header ul li a:hover{
    color: gold;
 }
 p.cantidadcarro{
    font-size:10px;
    color:aliceblue;
    background-color:  #7209B7;
    border-radius:15px;
    padding-left: 2px;
    padding-right: 2px; 
    font-size:small;
}
/*============
    MENU
 ==========*/


.MenuHorizontal{
       background: #B5179E;   
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       justify-content: space-around;
    
}
 
 .MenuHorizontal a{
    list-style: none;
    float: left;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
     
 }
 .MenuHorizontal a:hover{
    background-color: #F72585;
    transform: scale(1.1);
}

@media (max-width: 375px){
    .Header{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        width: 100%;
    }

    .Header ul{
        margin-top: 1%;
        margin-bottom: 1%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 0px;
        height:40px;
        max-width:100%;
       
      }
    .Header ul li {
        margin-top: 2px;
        list-style: none;
        float: left;
        font-size: 10px;
        flex-wrap: wrap;   
        margin:1%; 
        padding-left: 1%;  
        padding-right: 8%;
    }
    

    p.cantidadcarro{
        font-size:10px;
        color:aliceblue;
        background-color:  #7209B7;
        border-radius:15px;
        padding-left: 2px;
        padding-right: 2px; 
        font-size:8px;
    }

}