*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --colorboton: #7209B7;
   
}

header {
background: #F72585;   
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
overflow: hidden;
height: 70px;
width: 100%;
min-width: 554px;

}

header img{
    padding-left: 80px;
    width: 80%;
    display: flex;
    align-items: center;
}

/*=============
CONTENEDOR
===========*/
section{
    display: flex;
    flex-direction: row;
    width: 100%
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
            
}

.ingreso {
    display: inline-block;
    flex-wrap: wrap;
    width: 50%;
    padding: 40px;
    
}
.ingreso .hrcolor{
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: grey;   
    border: 0;
    height: 2px;
    width: 100%;
    color: gray;
}
.ingreso h4{
    
    margin-bottom: 4px;
}

.ingreso h5{
    margin-bottom: 4px;
}
.ingreso label{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ingreso input{
    border-radius: 5px;
    width: 60%;
    height: 25px;
    min-width: 160px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.ingreso input:hover{
    background-color: rgb(116, 189, 221);
    color: #f72585;

}

.ingreso a{
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
    
}


.ingreso h3{
    color: #F72585;
    margin-bottom: 4px;
}
div.regristrarse{
    padding: 70px;
    width:50%;
}
.regristrarse h3{
    color: #F72585;
    margin-bottom: 4px;
}
.hrcolor2{
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: grey;   
    border: 0;
    height: 2px;
    width: 100%;
    color: gray;
}
.ingreso h4{
    margin-bottom: 6px;
}
.regristrarse h4{
    margin-bottom: 6px;
}
.regristrarse ul li{
    margin-bottom: 4px;
    list-style: none;
}
div .crearCuenta{
    color: white;
    background-color: var(--colorboton);
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    margin-top: 50px;
    font-size: 16px;
    text-decoration: none;
}
div .crearCuenta:hover{
    transform: scale(1.2);
    cursor: pointer;
}
div .enviar{
    color: white;
    background-color: var(--colorboton);
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    margin-top: 50px;
    font-size: 16px;
    
}
div .enviar:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/*==========
BannerLogin
=========*/
.bannerLogin{
    align-items: center;
    width:100%;
    height:50%;
    margin-left: 2%;
    margin-right: 2%;
}

.bannerLogin img{
    width: 100%;
    height:80%;
    justify-content: space-around;
    
    
}

/*=========
FOOTER
=========*/

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #292525;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 10px;
    min-width: 554px;
   }
footer.credenciales{
    display: flex;
    flex-wrap: wrap;
    color: #F72585;
    width: 350px;
    
   
}
footer ul li {
    color: #F72585;
    list-style-type: none;
    margin-top: 10%;
    font-size: 14px;
    font-weight: normal;
    
   
}
footer a{
    text-decoration: none;
    color: #F72585;
    width: 350px;
}

footer ul li:hover{
    transform: scale(1.1);
}

footer.logo-footer img{
    color: #F72585;
    width: 70%;
    

    
}
footer.redesSociales{
    color: #F72585;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
footer.redesSociales a{
   
    font-size: 40px;
}

 .fa-youtube, .fa-instagram-square{
    font-size: 40px;
    margin-right: 40px;
}
.fa-facebook-square {
    font-size: 40px;
}