*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

header {
    position: fixed;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 113px;
    width: 100%;
}

/*=========
HEADER
=========*/

.menuSuperior {
    display: flex;
    flex-grow: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #F72585;
    padding: 10px 10px;
    height: 100%;
    
}

.menuSuperior a logo {
    align-items: center;
}

.menuSuperior a img {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuSuperior .barraBuscadora {
    width: 100%;
    max-width: 500px;
    /* flex-grow: 1; */
}

.menuSuperior .busqueda {
    width: 80%;
    height: 60%;
    border-radius: 6px;
    border-color: gray;
    background: whitesmoke;
    box-shadow: 0px 4px 4px rgba(61, 60, 60, 0.733);
    /* min-width: 100px;
    max-width: 500px; */
    min-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;

}

header div button {        
    height: 30px;
    width: 25px;
    margin-left: -30px;
    margin-top: 2px;
    border-color: none;
    border: none;
    background-color: transparent;
}

#Lupa{
    color: #F72585;
    height: 20px;
    width: 25px;
}

.menuSuperior .mainIcons {
    display: flex;
    height: 100%;
    width: 25%;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    min-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.menuSuperior .mainIcons ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    width: 75%;
}

.menuSuperior .mainIcons ul li a {
    display: inline-block;
    list-style: none;
    align-items: center;
    color: white;
    justify-content: space-between;
    text-decoration: none;
}

.menuInferior {
    background: #B5179E;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 5px 0px;
}

.menuInferior a {
color: white;
}

.banner img {
    width: 100%
}

/*=========
MAIN
=========*/
.cart {
    width:100%;
}
.encabezado{
background-color: #7209B7;
color: white;

}
.mostrarCarro {
    width: 100%;   
}

.mostrarCarro img{
    width:100%;
}
.itemsOrden{
    width:100%;
    display:flex;
    align-items: center;
    text-align: center;  
    
    margin-top: 10px;
    font-size: 10px;
    color: white;
}
.fotoProd{
    width: 5%;
    border-radius: 10px;
    margin:10px;
    background-color:#7209B7;
    text-align: center; 
    font-size: 9px;    
}
.sku{
    width: 5%;
    border-radius: 10px;
    margin:10px;
    background-color:#7209B7;
    text-align: center; 
    font-size: 9px;       
}
.descripcion{
    width: 30%;
    border-radius: 10px;
    margin:10px;
    background-color:#7209B7;
    text-align: center; 
    font-size: 9px;   
}
.cantidad{
    width: 8%;
    border-radius: 10px;
    margin:10px;
    background-color:#7209B7;
    text-align: center; 
    font-size: 9px;   
}
.preciounidad {
    width: 8%;
    border-radius: 10px;
    margin:10px;
    background-color:#7209B7;
    text-align: center; 
    font-size: 9px;   
}
.preciofinal {
    width: 8%;
    border-radius: 10px;
    margin:1%;
    background-color:#7209B7;
    text-align: center; 
    font-size: 9px;   
}

.ordenes{
    display:flex;
    align-items: center;
    width:100%;   
    text-align: center;      
    margin-top: 10px;
   

}

.forImage{
    width:4%;    
    border-radius: 15px;
    margin:10px;   
    text-align: center;     
}
.forItem{
    width:6%;
    border-radius: 15px;      
    text-align:center;    
    font-size: 10px; 
    margin:12px;
}
.forDetalle{
    width: 30%;
    border-radius: 15px;      
    margin-left:1.5%;
    text-align: left;     
    font-size: 12px;; 
}
.forUnidades{
    width: 8%;
    border-radius: 15px;    
    text-align: center; 
    font-size: 12px;
    margin-right: 1%;
}
.incrementoCantidad{
    width: 40%;
    border-radius: 15px;
    margin-left: 2%;  
    text-align: center; 
    font-size: 12px;; 

}
.forPrecio {
    width: 8%;
    border-radius: 15px;   
    text-align: center; 
    font-size: 12px;
    margin-left: 2%;   
}
.forTotalcompra {
    width: 10%;
    border-radius: 15px;   
    text-align: center; 
  
}
.forTotalcompra input{
    width: 50%;
    border-radius: 15px;
    margin-left:3%;    
    text-align: center; 
    font-size: 14px;
    font-weight: bold;
}
.remover {
    width: 5%;
    cursor: pointer; 
    border-radius: 15px;
    font-size: 10px;  
    margin-left: 2%;   

}
.remover button{
    width: 100%;
    cursor: pointer;
    background-color:#F72585; 
    border-color: none;
    color: white; 
    border-radius: 15px;
    font-size: 10px;; 

}
  


h1 {
    text-align: start;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30px;
}

.articleDeCompras {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.marcoyprecio {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.marcoyprecio h2 {
    margin-top: 40px;
    text-align: center;
    width: 30%;
}

.marcoFoto {
    width: 150px;
    height: 150px;
    border: gray solid 2px; 
    border-radius: 6px;
    box-shadow: 2px 2px 2px gray;
}

.marcoFoto img {
    width: 100%;
}

hr {
    width: 90%;
    margin: 30px 30px;
    align-content: center;
}

.totalcompra {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   padding-left: 1%;   
    font-weight: bold;
  }
  .montofinal {
     width: 65%;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;    
    font-weight: bold;
    margin-left: 1%;
  }
  .monto {
    width: 30%;
   text-align: left;    
   font-weight:bolder;
   margin-left: 1%;
   color: #F72585;
 
 }

.formaDePagoContainer {
    display: flex;
    width: 100%; 
    height:100%;
    padding-left: 60%;
   
   
  
}
.formaDePagoContainer h3 {
    text-align: center;
    width:40%;
}
.formaDePago {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
  
}
.formaDePago img{
height: 80%;
width: 40%;
}

article .finalCarrito{
height: 40%;
padding-bottom:  50%;
}
.botonera{
display: flex;
width: 100%;
height: 40%;
justify-content: space-between;

}

.volver {
    float:left;
    margin-left: 10%;
    background-color:#B5179E;
    color: white;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: medium ;
    text-decoration: none;
}   

.volver:hover {
    transform: scale(1.2);
}

.comprar {
    float:right;
    margin-right: 10%;
    background-color:#7209B7;
    color: white;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: medium ;
    text-decoration: none;
}   

.comprar:hover {
    transform: scale(1.2);
}

/*=========
FOOTER
=========*/

footer.footercarrito{
    display: flex;
    flex-wrap: wrap;
    background-color: #292525;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
   
   }
footer.credenciales{
    display: flex;
    flex-wrap: wrap;
    color: #F72585;
    width: 350px;
    
   
}
footer ul li {
    color: #F72585;
    list-style-type: none;
    margin-top: 10%;
    font-size: 14px;
    font-weight: normal;
    
   
}
footer a{
    text-decoration: none;
    color: #F72585;
    width: 350px;
}

footer ul li:hover{
    transform: scale(1.1);
}

footer.logo-footer img{
    color: #F72585;
    width: 70%;

    
}
footer.redesSociales{
    color: #F72585;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}
footer.redesSociales a{
   
    font-size: 40px;
}

 .fa-youtube, .fa-instagram-square{
    font-size: 40px;
    margin-right: 40px;
}
.fa-facebook-square {
    font-size: 40px;
}

@media (max-width: 1072px) {
    main {
        margin-top: 152px;
    }
}
@media (max-width: 760px) {
    main {
        margin-top: 200px;
    }
}
@media (max-width: 616px) {
    main {
        margin-top: 216px;
    }
}