<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Checkout.css">
    <script src="https://kit.fontawesome.com/720e4c8677.js" crossorigin="anonymous"></script>
    

    <title>Pint@me</title>
</head>

<body>
    <header class="cabecera">
        <a href="./index.html" class="logo"><img src="/images/logos/Pintamev2.png" alt="" ></a> 
    </header>
    <section>
    <div class="DatosCliente">
        <form action="login" method="POST">
            <h2>PAGAR</h2>
             <label for="Nombre">Nombre</label><br>
             <input type="text" name="Nombre" value="" placeholder=" Ingresa tu nombre"> <br>
             <label for="Apellido">Apellido</label><br>
            <input type="text" name="pass" value="" placeholder=" Tú Apellido"> <br>
            <label for="DNI">DNI</label><br>
            <input type="text" name="DNI" value="" placeholder=" Tú DNI"> <br>
            <label for="Domicilio">Domicilio</label><br>
            <input type="text" name="Domicilio" value="" placeholder=" Tú Domicilio"> <br>
            <label for="Localidad">Localidad</label><br>
            <input type="text" name="Localidad" value="" placeholder=" Localidad donde  vivis"> <br>
            <section class="CamposSeleccionados">
                <div>
                    <label for="Cod.Postal">Código Postal</label><br>
                    <input type="text" name="Cod.Postal" class="campoChico" value="" placeholder=" Tú Código Postal"> <br>
                </div>
                <div>
                    <label for="Provincia">Provincia</label><br>
                    <input type="text" name="Provincia" class="campoChico" value="" placeholder=" Donde vivís"> <br>
                </div>  
                <div>
                    <label for="Telefono">Teléfono</label><br>
                    <input type="text" name="Telefono" class="campoChico" value="" placeholder=" Tú Teléfono"> <br>
                </div>
            </section>    
    </div>    
    <div class="Pago">
        <div class="camposTarjeta">
            <form action="login" method="POST">
                <label for="NumeroTarjeta">NUMERO DE TARJETA</label><br>
                 <input type="text" name="NumeroTarjeta" value="" placeholder=" Ingresa el número de tu tarjeta"> <br>
                <label for="NombreyApellidoTitular">NOMBRE Y APELLIDO DEL TITULAR DE LA TARJETA</label><br>
                <input type="text" name="NombreyApellidoTitular" value="" placeholder=" xxxx-xxxx-xxxxxx"> <br>
                <div class="CamposSeleccionados">  
                    <div>
                        <label for="FechaDeVencimiento">FECHA DE VENCIMIENTO</label><br>
                        <input type="month" name="FechaDeVencimiento" value="2020-12" min="2020-12"placeholder=" Vencimiento"> <br>
                    </div>
                    <div>    
                        <label for="Cod.Seguridad">COD. DE SEGURIDAD</label><br>
                        <input type="text" name=" Cod.Seguridad" value="" placeholder=" 3 números"> <br>
                    </div>    
                </div>    
                <button type="submit" class="Pagar" name="Comprar">PAGAR</button>
        </div>    
    </div><br>
    <a href="../views/index.html" class="volver">Volver</a> 
</section>
<%- include('Footer.ejs') %>  

</body>
