<!DOCTYPE html >
<html lang="en">
    <%- include('Head.ejs') %>

<body>
    <%- include('Header.ejs') %>
   
  
    <div class="Vitrina">
        <a href="#" class="InteriorVitrina">
            <p class="claim"> TODOS LOS COLORES AL MISMO PRECIO</p>
        </a>
    </div>
    <section class="contenedor">
   
        <div class="familias">
            <section class="mundos">
               <a href="" class="interior">INTERIOR</a>
               <a href="" class="exterior">EXTERIOR</a>
               <a href="" class="decoracion">DECORACION</a>
               <a href="" class="herramientas">HERRAMIENTAS</a>
            </section>
        </div>
        <div class="enviosTarjetasLocales">
            <article class="truck"><i class="fas fa-truck"></i><p>Envíos a Todo el País</p></article>

            <article class="tarjeta"><i class="far fa-credit-card"></i><p>La Mejor Financiación</p></article>
            
            <article class="retiro"><i class="fas fa-store"></i><p> Retiro Gratis en Nuestros Locales </p></article>
        </div>
        
        <div class="oportunidades">Oportunidades de la semana </div>

        <div class="ofertas">
            <a href="#" class="oferta1"> <img src="/images/kolor 4.jfif">
               <p>Pintura Latex acrílica Kolor Purpura </p>
               <p class="precio">$2.500</p>
            </a>
            <a href="#" class="oferta2"> <img src="/images/kolor 6.jfif"><p>Pintura Latex acrílica Kolor bordo </p>
                <p class="precio">$2.500</p>
            </a>
            <a href="#" class="oferta3"> <img src="/images/kolor 5.jfif"><p>Pintura Latex acrílica Kolor ocre </p>
                <p class="precio">$2.500</p>
            </a>
            <a href="#" class="oferta4"> <img src="/images/kolor 2.jfif"><p>Pintura Latex acrílica Kolor gris claro </p>
                <p class="precio">$2.500</p>
            </a>
            <a class="oferta5"> <img src="/images/duralba.jfif">             <p>Impermeabilizante Duralba </p>
                <p class="precio">$4.150</p>
            </a>
            <a href="" class="oferta6"> <img src="/images/piletas.jfif"><p>Alba Piletas Caucho clorado </p>
                <p class="precio">$1.500</p>
            </a>
            <a href="#" class="oferta7"> <img src="/images/recublock.jfif"><p>Recublock Cimientos Sinteplas</p>
                <p class="precio">$1.750</p>
            </a>
            <a href="#" class="oferta8"> <img src="/images/sw lata.jfif"><p>Esmalte sintectio para pisos SW</p>
                <p class="precio">$2.975</p>
            </a>
        </div>
     </section>
     <section class="marcas">
         <li><a href="#"><img src="/images/logos/sw.jpg"> </a></li>
         <li><a href="#"><img src="/images/logos/weber.jpg"> </a></li>
         <li><a href="·"><img src="/images/logos/Tersuave.jpg"> </a></li>
         <li><a href="#"><img src="/images/logos/sinteplas.jpg"> </a></li>
         <li><a href="#"><img src="/images/logos/alba.jpg"> </a></li>
       



     </section>

     <%- include('Footer.ejs') %>    
</body>
</html>