<!DOCTYPE html>


<html lang="en">
    <%- include('partials/Head.ejs') %>
    
<body>
    <header>
        <%- include ('partials/Header.ejs')%>   
    </header>
    <main>
        <article>
            <h1>Mi Carrito</h1>
            <article class="articleDeCompras">
               <!-- <div class="mostrarCarro">
                <div class="ordenes">
                    <img src="${item.imagen}" alt="">
                    <h3 class ="sku">${item.sku} </h3>
                    <h3 class= "descripcion">${item.descripcion}</h3>
                    <h3 class="cantidad> ${item.cantidad} </h3>
                    <h3 class"precio"> ${item.precio} </h3>
                    <div class ="remover"><button>Eliminar</button></div>
                 </div>
            </div> -->
                <div class="cartBox">
                    <div class="cart">
                   <div class="itemsOrden">
                        <img src="${item.imagen}" alt="">
                        <div class ="sku"> <h2> SKU</h2> </div>
                        <div class ="descripcion"> <h2> DESCRIPCION</h2> </div>
                        <div class ="cantidad"> <h2> CANTIDAD</h2> </div>
                        <div class ="preciofinal"> <h2> PRECIO</h2> </div>
                        <div class ="totalcompra"> <h2> TOTAL</h2> </div>
                   </div>
                   <div class="mostrarCarro">  </div>
                  
                   
                   
                   
                        <!-- <table class "orden"></table> -->
                    </div>
                </div>             
              
            </article>
        </article>
        <br>
        <hr>
        <br>
        <article class="total">
            <h2>Total</h2>
            <h2>$400</h2>
        </article>
        <article class="formaDePagoContainer">
            <div class="formaDePago">
                <h3>Formas de Pago</h3>
                <img src="./images/Formas_de_pago.png" alt="Formas de Pago">
            </div>
        </article>
        <article>
            <br>
            <div>
                <a href="#" class="volver">Volver</a>
                <a href="#" class="comprar">Comprar</a>
            </div>
            <br>
        </article>
    </main>
    <footer class="footer">
        <div class="credenciales">
            <ul>
                <li> <a href="#"> Quienes Somos</a> </li>
                <li> <a href="#">Pedidos Especiales </a></li>
                <li><a href="#">Contacto</a></li>
            </ul>    
        </div>
        <div class="logo-footer">
            <img src="/images/logos/Pintamev2.png">
        </div>
        <div class="redesSociales">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
           
        </div>
     </footer>
     <script src="/js/agregadocarro.js"type="text/javascript"></script>
     <script src="/js/carrito.js"type="text/javascript"></script>


</body>
</html>