<!DOCTYPE html>


<html lang="en">
    <%- include('partials/Head.ejs') %>
    
<body>
    <header>
        <%- include ('partials/Header.ejs')%>   
    </header>
    <main>
        <article>
            <h1>Mi Carrito</h1>
            <article class="articleDeCompras">
                <div class="cartBox">
                    <div class="cart">
                        <div class="itemsOrden">
                            <div class="fotoProd"><h2>IMAGEN</h2> </div>
                            <div class ="sku"> <h2> SKU</h2> </div>
                            <div class ="descripcion"> <h2> DESCRIPCION</h2> </div>
                            <div class ="cantidad"> <h2> CANTIDAD</h2> </div>
                            <div class ="preciounidad"> <h2> PRECIO</h2> </div>
                            <div class ="preciofinal"> <h2> TOTAL</h2> </div>
                        </div>
                        <div class="mostrarCarro">  </div>               
               
                    </div>
                </div>             
              
            </article>
        </article>
        <br>
        <hr>
      
        <div class="totalcompra">
            <div class="montofinal">TOTAL</div>
            <div class="monto" id="monto">$ 0</div>          
        </div>
      
        <hr>      
        <br>
        <div class="formaDePagoContainer">
            <div class="formaDePago">
                <h3>Formas de Pago</h3>
                <img src="./images/Formas_de_pago.png" alt="Formas de Pago">
            </div>
        </div>
    
        <article>
            <br>
            <div class="botonera">
                <a href="/index" class="volver">Volver</a>
                <a href="/checkout" class="comprar">Comprar</a>
            </div>
            <br>
        </article>    
    </main>
    <footer class="footer">
        <div class="credenciales">
            <ul>
                <li> <a href="#"> Quienes Somos</a> </li>
                <li> <a href="#">Pedidos Especiales </a></li>
                <li><a href="#">Contacto</a></li>
            </ul>    
        </div>
        <div class="logo-footer">
            <img src="/images/logos/Pintamev2.png">
        </div>
        <div class="redesSociales">
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram-square"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
           
        </div>
     </footer>
     <script src="/js/prueba.js.js"type="text/javascript"></script>
     <script src="/js/agregadocarro.js"type="text/javascript"></script>
     <script src="/js/carrito.js"type="text/javascript"></script>
    

</body>
</html>