<!DOCTYPE html>
<html lang="en">
    <%- include('partials/Head.ejs') %>
<body>
    <%- include('partials/Header.ejs') %>
    

    <section>
        <div class="interior">
            <h1>¡¡¡MUCHAS GRACIAS POR TU COMPRA!!!!!</h1><br>
            <h2>CALIFICA TU EXPERIENCIA - (NPS)</h2><br>

            <ul class="estrellas">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
            </ul><br><br>
            <button type="submit" name="entrar" class="enviar">Enviar</button><br><br>

            <a href="/" class="SeguirComprando">Seguir Comprando</a> 
        </div>


    </section>

    <%- include('partials/Footer.ejs') %>    
    <script src="/js/carrito.js"type="text/javascript"></script>
</body>    
