<!DOCTYPE html>
<html lang="en">
    <%- include('partials/Head.ejs') %>
<body>
    <%- include('partials/Header.ejs') %>
    <header class="cabecera">
        <a href="/" class="logo"><img src="./images/logos/Pintamev2.png" alt="" ></a> 
        <div class="opcionesHeader">
             <input class="busqueda" type="text" placeholder=" Encontra lo que buscas">
            <button><a href="#" id="Lupa"> <i id="Lupa" class="fas fa-search" ></i></a> </button>
        </div>
       
        <nav class="Header">
            <ul>
                <li class="carrito"><a href="Carrito"> Mi Carrito <i class="fas fa-cart-plus"></i></a> </li>
                 <li class="Ingresar"><a href="./LoginAlta.html">Ingresar <i class="far fa-user"></i> </a></li>
            </ul>
        </nav>
        <div class="MenuHorizontal">
            <a href="#">PINTURA INTERIOR</a>
            <a href="#">PINTURA EXTERIOR</a>
            <a href="#">DECORACION</a>
            <a href="#">HERRAMIENTAS Y ACCESORIOS</a>
            
        </div>
    </header>

    <section>
        <div class="interior">
            <h1>¡¡¡MUCHAS GRACIAS POR TU COMPRA!!!!!</h1><br>
            <h2>CALIFICA TU EXPERIENCIA - (NPS)</h2><br>

            <ul class="estrellas">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
            </ul><br><br>
            <button type="submit" name="entrar" class="enviar">Enviar</button><br><br>

            <a href="/" class="SeguirComprando">Seguir Comprando</a> 
        </div>


    </section>

    <%- include('partials/Footer.ejs') %>    

</body>    
