<footer class="footer">
    <div class="credenciales">
        <ul>
            <li> <a href="#"> Quienes Somos</a> </li>
            <li> <a href="#">Pedidos Especiales </a></li>
            <li><a href="#">Contacto</a></li>
        </ul>    
    </div>
    <div class="logo-footer">
        <a href="/" class="logo"><img src="/images/logos/Pintamev2.png" alt="" ></a> 
    </div>
    <div class="redesSociales">
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
       
    </div>
 </footer>