<header class="cabecera">
    <a href="/" class="logo"><img src="/images/logos/Pintamev2.png" alt="" ></a> 
    <div class="opcionesHeader">
        <input class="busqueda" id= "inputLupa" type="text" placeholder=" Encontra lo que buscas">
        <button><a id="Lupa" onclick="buscar()"> <i id="Lupa" class="fas fa-search" ></i></a> </button>
    </div>
   
    <nav class="Header">
        <% if(typeof usuario != 'undefined') { %>
            <ul>
                <li class="carrito"><a href="Carrito"> Mi Carrito <i class="fas fa-cart-plus"></i></a> </li>
                 <li class="Ingresar"><a href="./login"><%= usuario %>&nbsp<i class="far fa-user" style= 'color:white'></i> </a></li>
                 <li class="Ingresar"><a href="./login">Cerrar</i> </a></li>
            </ul>
       
        <% } else { %>
            <ul>
                <li class="carrito"><a href="Carrito"> Mi Carrito <i class="fas fa-cart-plus"></i></a> </li>
                 <li class="Ingresar"><a href="./login">Ingresar <i class="far fa-user"></i> </a></li>
            </ul>
            
        <% } %>
    </nav>
    <div class="MenuHorizontal">
        <a href="/plp/interior">PINTURA INTERIOR</a>
        <a href="/plp/exterior">PINTURA EXTERIOR</a>
        <a href="/plp/otros">DECORACION</a>
        <a href="/plp/herramientas">HERRAMIENTAS Y ACCESORIOS</a>
        
    </div>
</header>