<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/Main.css">
    <link rel="stylesheet" href="/stylesheets/consolaAdmin.css">
    <link rel="stylesheet" href="/stylesheets/plp.css">
    <link rel="stylesheet" href="/stylesheets/PDP.CSS">
    <link rel="stylesheet" href="/stylesheets/Thanks.css">
    <link rel="stylesheet" href="/stylesheets/miCarrito.css">
    <link rel="stylesheet" href="/stylesheets/head.css">
    <script src="https://kit.fontawesome.com/720e4c8677.js" crossorigin="anonymous"></script>
    

    <title>Pint@me</title>
</head>